<div id="menu" >
    <div class="container text-center ">
        <ul class="row align-items-start ul-admin ">
            <li class="col" style="background-color:rgb(172, 203, 255); height:150px; padding-top:50px">
                <a href="/admin/account">Quản lý tài khoản</a>
            </li>
            <li class="col " style="background-color:rgb(172, 203, 255); height:150px; padding-top:50px">
                <a href="/admin/category">Quản lý danh mục</a>
            </li>
        </ul>
        <ul class="row align-items-start ul-admin">
            <li class="col" style="background-color:rgb(172, 203, 255); height:150px; padding-top:50px">
                <a class="menu-link"  href="/admin/products">Quản lý sản phẩm</a>
            </li>
            <li class="col" style="background-color:rgb(172, 203, 255); height:150px; padding-top:50px">
                <a class="menu-link" href="/admin/chart">Thống kê</a>
            </li>
        </ul>
        <ul class="row align-items-start ul-admin">
            <li class="col " style="background-color:rgb(172, 203, 255); height:150px; padding-top:50px">
                <a class="menu-link"  href="/admin/bills">Danh sách hóa đơn</a>
            </li>
            <li class="col " style="background-color:rgb(172, 203, 255); height:150px; padding-top:50px">
                <a class="menu-link" href="/admin/paymenthistory">Lịch sử giao dịch</a>
            </li>
        </ul>
        
    </div>
</div>

<style>
    * {
        font-family: 'Spectral', sans-serif;
    }
    h1 {
        font-weight: bold;
    }
    #menu {
        width: 100%;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    .ul-admin {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .col {
        border: 2px solid #000;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        font-weight: bolder;
        text-transform: uppercase;
        color: #000;
        cursor: pointer;
        transition: color 0.4s linear;
        position: relative;
    }

    a:hover {
        color: #000;
    }

    li:hover {
        background-color: #ccc;
    }
</style>