<div id="menu" >
    <div class="container text-center ">
        <ul class="row align-items-start ul-admin ">
            <li class="col">
                <a class="button" href="/admin/account">Quản lý tài khoản</a>
            </li>
            <li class="col ">
                <a class="button" href="/admin/category">Quản lý danh mục</a>
            </li>
        </ul>
        <ul class="row align-items-start ul-admin">
            <li class="col">
                <a class="button"  href="/admin/products">Quản lý sản phẩm</a>
            </li>
            <li class="col" >
                <a class="button" href="/admin/chart">Thống kê</a>
            </li>
        </ul>
        <ul class="row align-items-start ul-admin">
            <li class="col ">
                <a class="button"  href="/admin/bills">Danh sách hóa đơn</a>
            </li>
            <li class="col ">
                <a class="button" href="/admin/paymenthistory">Lịch sử giao dịch</a>
            </li>
        </ul>
        
    </div>
</div>

<style>
    * {
        font-family: 'Spectral', sans-serif;
    }
    h1 {
        font-weight: bold;
    }
    #menu {
        width: 100%;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }

    .ul-admin {
        list-style: none;
        margin: 0;
        padding: 0;
    }


    .button {
        display: inline-block;
        background-color: #3498db;
        color: white;
        padding: 10px 30px;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
        width: 400px;
        height: 150px;
        padding-top: 50px;
        font-size: 20px;
    }

    .button:hover {
        background-color: #2980b9;
    }
</style>