<div class="container">
    <div class="subscription-container d-flex flex-row align-items-center justify-content-between ps-5 mt-5 pe-5">
        <div class="subscription-input-container d-flex flex-row align-items-center justify-content-around">
            <span class="subscription-title">Đăng ký nhận tin</span>
            <div class="subscription-input input-group ms-3 mb-3 me-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
                <input type="email" class="form-control" placeholder="Nhập email của bạn" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="button dark cta-submitform newsletter-btn subscription-button"
                fdprocessedid="rqn9r">Đăng ký</button>
        </div>
        <div class="newsletter-block newsletter-social d-flex flex-row align-items-center justify-content-around">
            <div class="newsletter-content">
                <ul class="social-ul">
                    <li class="social-li"><a href="/" target="_blank" rel="noopener" title="Facebook"
                            aria-label="Facebook"><i class="fa fa-facebook social-icon"></i></a></li>
                    <li class="social-li"><a href="/" target="_blank" rel="noopener" title="Twitter"
                            aria-label="Twitter"><i class="fa fa-twitter social-icon"></i></a></li>
                    <li class="social-li"><a href="/" target="_blank" rel="noopener" title="Instagram"
                            aria-label="Instagram"><i class="fa fa-instagram social-icon"></i></a></li>
                    <li class="social-li"><a href="/" target="_blank" rel="noopener" title="Google Plus"
                            aria-label="Google Plus"><i class="fa fa-google-plus social-icon"></i></a></li>
                    <li class="social-li"><a href="/" target="_blank" rel="noopener" title="Youtube"
                            aria-label="Youtube"><i class="fa fa-youtube-play social-icon"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12 widget-footer">
                    <h4 class="title-footer">Về HTTN Shop</h4>
                    <div class="content-footer block-collapse row">
                        <div class="col-lg-12 col-md-12 col-12">
                            
                            <div class="address-footer">
                                <ul class="address-ul">
                                    <li class="contact-1"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Khu đô thị đại học quốc gia, Phường Linh Trung, Thành phố Thủ Đức, Thành phố Hồ Chí Minh</li>
                                    <li class="contact-2"><i class="fa fa-phone" aria-hidden="true"></i>
                                        1900.000.XXX
                                    </li>
                                    <li class="contact-4"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        hi@httnshop.abc</li>
                                </ul>
                            </div>
                            <ul class="footerNav-social d-md-none">
                                <li><a href="/" target="_blank" rel="noopener" title="Facebook" aria-label="Facebook"><i
                                            class="fa fa-facebook"></i></a></li>
                                <li><a href="/" target="_blank" rel="noopener" title="Twitter" aria-label="Twitter"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li><a href="/" target="_blank" rel="noopener" title="Instagram"
                                        aria-label="Instagram"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="/" target="_blank" rel="noopener" title="Google Plus"
                                        aria-label="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="/" target="_blank" rel="noopener" title="Youtube" aria-label="Youtube"><i
                                            class="fa fa-youtube-play"></i></a></li>
                            </ul>
                            <div class="footer-payment">
                                <div class="payment-title">Phương thức thanh toán</div>
                                <ul class="payment-icon social-ul">
                                    <li class="social-li"><img class=" ls-is-cached lazyloaded"
                                            data-src="//theme.hstatic.net/200000680615/1001104472/14/payment_1_img.png?v=306"
                                            src="//theme.hstatic.net/200000680615/1001104472/14/payment_1_img.png?v=306"
                                            alt="zalo pay" title="zalo pay"></li>
                                    <li class="social-li"><img class=" ls-is-cached lazyloaded"
                                            data-src="//theme.hstatic.net/200000680615/1001104472/14/payment_2_img.png?v=306"
                                            src="//theme.hstatic.net/200000680615/1001104472/14/payment_2_img.png?v=306"
                                            alt="onepay" title="onepay"></li>
                                    <li class="social-li"><img class=" ls-is-cached lazyloaded"
                                            data-src="//theme.hstatic.net/200000680615/1001104472/14/payment_3_img.png?v=306"
                                            src="//theme.hstatic.net/200000680615/1001104472/14/payment_3_img.png?v=306"
                                            alt="vn-pay" title="vn-pay"></li>
                                    <li class="social-li"><img class=" ls-is-cached lazyloaded"
                                            data-src="//theme.hstatic.net/200000680615/1001104472/14/payment_4_img.png?v=306"
                                            src="//theme.hstatic.net/200000680615/1001104472/14/payment_4_img.png?v=306"
                                            alt="kredivo" title="kredivo"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12 widget-footer">
                    <h4 class="title-footer">Hỗ trợ khách hàng</h4>
                    <div class="content-footer block-collapse">
                        <ul class="footerNav-link">
                            <li class="item">
                                <a class="footer-link" href="#newestproducts" title="Sản phẩm mới nhất">Sản phẩm mới nhất</a>
                            </li>
                            <li class="item">
                                <a class="footer-link" href="#topproducts" title="Sản phẩm nổi bật">Sản
                                    phẩm nổi
                                    bật</a>
                            </li>
                            <li class="item">
                                <a class="footer-link" href="/products" title="Tất cả sản phẩm">Tất cả sản
                                    phẩm</a>
                            </li>
                        </ul>
                        <div class="footer-shipment">
                            <h4 class="shipment-title">Phương thức vận chuyển</h4>
                            <ul class="shipment-icon social-ul">
                                <li class="social-li"><img class="social-li ls-is-cached lazyloaded"
                                        data-src="//theme.hstatic.net/200000680615/1001104472/14/shipment_1_img.png?v=306"
                                        src="//theme.hstatic.net/200000680615/1001104472/14/shipment_1_img.png?v=306"
                                        alt="ghn" title="ghn"></li>
                                <li class="social-li"><img class="social-li ls-is-cached lazyloaded"
                                        data-src="//theme.hstatic.net/200000680615/1001104472/14/shipment_2_img.png?v=306"
                                        src="//theme.hstatic.net/200000680615/1001104472/14/shipment_2_img.png?v=306"
                                        alt="ninjavan" title="ninjavan"></li>
                                <li class="social-li"><img class="social-li ls-is-cached lazyloaded"
                                        data-src="//theme.hstatic.net/200000680615/1001104472/14/shipment_3_img.png?v=306"
                                        src="//theme.hstatic.net/200000680615/1001104472/14/shipment_3_img.png?v=306"
                                        alt="ahamove" title="ahamove"></li>
                                <li class="social-li"><img class="social-li ls-is-cached lazyloaded"
                                        data-src="//theme.hstatic.net/200000680615/1001104472/14/shipment_4_img.png?v=306"
                                        src="//theme.hstatic.net/200000680615/1001104472/14/shipment_4_img.png?v=306"
                                        alt="j&amp;t" title="j&amp;t"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12 widget-footer">
                    <h4 class="title-footer">Liên kết</h4>
                    <div class="content-footer block-collapse">
                        <ul class="footerNav-link">
                            <li class="item">
                                <a class="footer-link" href="/" title="Trang chủ">Trang chủ</a>
                            </li>
                            <li class="item">
                                <a class="footer-link" href="/products" title="Sản phẩm">Sản phẩm</a>
                            </li>
                            <li class="item">
                                <a class="footer-link" href="/products/" title="Trang sản phẩm">Trang sản
                                    phẩm</a>
                            </li>
                            <li class="item">
                                <a class="footer-link" href="/about" title="Giới thiệu">Giới thiệu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer-end text-center">
                <p style="padding-top: 15px;">Copyright © 2024
                    <a class="footer-link" href="">HTTN SHOP</a>.
                </p>
            </div>
        </div>
    </div>
    
    <style>
        body {
            color: #252a2b;
            line-height: 1.45;
            font-size: 14px;
            background: #ffffff;
            font-family: "Spectral", sans-serif;
            overflow-x: hidden;
            position: initial;
        }

        a {
            color: #252a2b;
            text-decoration: none;
            outline: none;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .topbar {
            text-align: center;
            font-weight: 500;
            font-size: 13px;
            padding: 8px 0;
            position: relative;
            display: block;
            overflow: hidden;
            background: #ffffff;
            color: #000000;
            border-bottom: 1px solid #dfe2e6;
        }

        .topbar-text {
            color: black;
        }

        .topbar-bottom {
            background: #193d87;
            color: #ffffff;
            font-size: 13px;
        }

        .topbar-bottom .box-content {
            padding: 6px 0;
        }

        .topbar-bottom .hotline a {
            font-weight: 700;
            color: #ffffff;
        }

        .topbar-bottom .contact a {
            font-weight: 700;
            color: #ffffff;
        }

        .navbar {
            background: #ffffff;
            color: #000000;
            font-size: 13px;
        }

        .navbar .box-content {
            padding: 6px 0;
        }

        .home {
            width: 200px;
        }

        .nav-box {
            width: 800px;
        }

        .util {
            width: 200px;
        }

        .intro-banner {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://theme.hstatic.net/200000680615/1001104472/14/about01_banner_bkg.jpg");
            height: 300px;
        }

        .banner-headtext {
            font-size: 30px;
            font-weight: 600;
            color: white;
        }

        .banner-text {
            font-weight: 600;
            color: white;
        }

        .content-text-title-f {
            letter-spacing: 5px;
        }

        .text-column {
            width: 450px;
        }

        .content-image {
            width: 45%;
            height: 45%;
        }

        .icon-item {
            width: 210px;
        }

        .subscription-container {
            background-color: #1c4290;
            height: 80px;
        }

        .subscription-input {
            width: 300px;
        }

        .subscription-input-container {
            height: 40px;
        }

        .subscription-title {
            padding: 0;
            margin: 0;
            position: relative;
            font-size: 15px;
            font-weight: 700;
            color: white;
            line-height: 1.2;
        }

        .subscription-input {
            margin-top: 20px;
        }

        .subscription-button {
            font-weight: 700;
            white-space: nowrap;
            height: 35px;
            border-radius: 20px;
            position: relative;
            display: inline-block;
            z-index: 1;
            overflow: hidden;
            line-height: normal;
            color: #fff;
            border: 0;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            outline: none !important;
            transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            background: #161718;
            font-size: small;
        }

        .social-icon {
            width: 32px;
            height: 32px;
            line-height: 30px;
            font-size: 14px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            display: block;
            text-align: center;
            border-radius: 50%;
            transition: 0.4s;
            text-decoration: none;
            outline: none;
        }

        .social-ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            padding-left: 0 !important;
        }

        .address-ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            padding-left: 0 !important;
        }

        .social-li {
            margin-right: 5px;
        }

        .footer-container {
            background: #193d87;
            position: relative;
            font-size: 16px;
            color: white;
            margin: 0;
            font-weight: 500;
        }

        .footer-link {
            color: #ffffff;
        }

        .footer-end {
            background: #1c4290;
        }
    </style>
</div>