<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">ADMIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin">TRANG CHỦ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/category">QUẢN LÝ THƯ MỤC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/account">QUẢN LÝ TÀI KHOẢN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/products">QUẢN LÝ SẢN PHẨM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/chart">THỐNG KÊ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/bills">DANH SÁCH HOÁ ĐƠN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/paymenthistory">LỊCH SỬ GIAO DỊCH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">ĐĂNG XUẤT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>