
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Spectral' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b7cad2323d.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .container {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            max-width: 100%;
        }

        hr {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body >
    {{> headerAdmin}}
    <hr>
    <div class="container" >
        {{{body}}}
    </div>
</body>

{{!-- up anh len firebase va them vao database --}}
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics.js";
    import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-storage.js";

    const firebaseConfig = {
        apiKey: "AIzaSyDKKnJIIrD9T9flxWH_TnjwKgtggCUf6-A",
        authDomain: "webproject-646b5.firebaseapp.com",
        projectId: "webproject-646b5",
        storageBucket: "webproject-646b5.appspot.com",
        messagingSenderId: "87103126392",
        appId: "1:87103126392:web:e21cff766c738e8754e68d",
        measurementId: "G-SWGXFK1SFB"
    };

    const firebase = initializeApp(firebaseConfig);
    const analytics = getAnalytics(firebase);
    $(document).ready(function () {
        $(document).on('click', '.btnUpload', function (e) {
            console.log('aaaaa')
            e.preventDefault();
            const id1 = $('#inputID').val();
            const namee1 = $('#inputName').val();
            const des1 = $('#fullDes').val();
            const price1 = $('#price').val();
            const items1 = $('#items').val();
            const count1 = $('#count').val();
            const producer1 = $('#producer').val();
            const file1 = $('#formFile').prop('files')[0];

            let id = document.getElementById('inputID').value;
            let namee = document.getElementById('inputName').value;
            let des = document.getElementById('fullDes').value;
            let price = document.getElementById('price').value;
            let items = document.getElementById('items').value;
            let count = document.getElementById('count').value;
            let producer = document.getElementById('producer').value;
            let file = document.getElementById('formFile').files[0];

            const str = /^(?=\S)(?!.*\s{2,})[a-zA-Z0-9\sáàảãạăắằẳẵặâấầẩẫậéèẻẽẹêếềểễệíìỉĩịóòỏõọôốồổỗộơớờởỡợúùủũụưứừửữựýỳỷỹỵÁÀẢÃẠĂẮẰẲẴẶÂẤẦẨẪẬÉÈẺẼẸÊẾỀỂỄỆÍÌỈĨỊÓÒỎÕỌÔỐỒỔỖỘƠỚỜỞỠỢÚÙỦŨỤƯỨỪỬỮỰÝỲỶỸỴ]{5,}(?<=\S)$/;

            if (!(id1 && namee1 && des1 && price1 && items1 && count1 && producer1 && file1)) {
                alert('Vui lòng điền đầy đủ thông tin');
            }
            else if  ((id1 && namee1 && des1 && price1 && items1 && count1 && producer1 && file1) && !(id.match(/^[A-Z]{3}\d{2}$/) && namee.match(str) && des.match(str) && price > 10000 && items.match(/^.+$/) && count > 1 && producer.match(/\S/))){
                alert('Vui lòng điền các thông tin hợp lệ');
            }
            else {
                const file = document.getElementById('formFile').files[0];
                const metadata = {
                    contentType: file.type,
                }
                const name = file.name;
                const storage = getStorage();
                const storageReference = storageRef(storage, file.name);
                const uploadImg = uploadBytes(storageReference, file, metadata);
                uploadImg.then(snapshot => {
                    return getDownloadURL(storageReference);
                }).then(url => {
                    console.log(url);
                    $('#imageUrl').val(url);
                    $('#productForm').submit();
                    alert('Thêm sản phẩm thành công')
                }).catch(console.error);
            }          
        })
    });

</script>

{{!-- preview anh --}}
<script>
    $(document).ready(function () {
        $('#formFile').change(function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
                $('#imagePreview').show();
            };
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>

</html>