<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Spectral' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b7cad2323d.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        .container {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            max-width: 100%;
        }

        hr {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    {{> header}}
    <hr>
    <div class="container">
        {{{body}}}
    </div>
    {{> footer}}
</body>



<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-analytics.js";
    import { getStorage, ref as storageRef, uploadBytes, getDownloadURL } from "https://www.gstatic.com/firebasejs/10.7.2/firebase-storage.js";

    const firebaseConfig = {
        apiKey: "AIzaSyDKKnJIIrD9T9flxWH_TnjwKgtggCUf6-A",
        authDomain: "webproject-646b5.firebaseapp.com",
        projectId: "webproject-646b5",
        storageBucket: "webproject-646b5.appspot.com",
        messagingSenderId: "87103126392",
        appId: "1:87103126392:web:e21cff766c738e8754e68d",
        measurementId: "G-SWGXFK1SFB"
    };

    const firebase = initializeApp(firebaseConfig);
    const analytics = getAnalytics(firebase);
    $(document).ready(function () {
        $(document).on('click', '.btnUpload', function (e) {
            console.log('aaaaa')
            e.preventDefault();
            const file = document.getElementById('formFile').files[0];
            const metadata = {
                contentType: file.type,
            }
            const name = file.name;
            const storage = getStorage();
            const storageReference = storageRef(storage, file.name);
            const uploadImg = uploadBytes(storageReference, file, metadata);
            uploadImg.then(snapshot => {
                return getDownloadURL(storageReference);
            }).then(url => {
                console.log(url);
                $('#imageUrl').val(url);
                $('#productForm').submit();
                alert('Thêm sản phẩm thành công')
            }).catch(console.error);

        })
    });

</script>

<script>
    $(document).ready(function () {
        updateCartNotification();

        $(document).on('click', '.add-to-cart', function() {
            var productContainer = $(this).closest('.col-3.product');
            var productName = $(this).parent().parent().find('.product-name').text();
            var productID = productContainer.attr('id');
            var productPrice = $(this).parent().find('.product-price').text();
            var productImage = $(this).parent().parent().parent().find('.product-image').attr('src');
            var productCount = $(this).parent().find('.product-count');
            console.log('Tên sản phẩm: ' + productName);
            console.log('Giá sản phẩm: ' + productPrice);
            console.log('URL ảnh sản phẩm: ' + productImage);
            console.log('ID sản phẩm: ' + productID);
            addToCart(productID, productName, productPrice, productImage,productCount);
        });
        async function addToCart(id, name, price, image,productCount) {

            var existingProduct = null;
            var countUp
            if (productCount.val() == null){
                countUp = 1;
            }
            else countUp = parseInt(productCount.val());
            console.log(countUp);
            if (countUp > 0){
                $('.cart-body .card').each(function () {
                    var productName = $(this).find('.product-name').text().trim('');
                    if (productName === name.trim('')) {
                        existingProduct = $(this);
                    }
                });
                if (existingProduct != null) {
                    var quantityInput = existingProduct.find('.count');
                    $.post('/addToCart', {
                        id: id,
                        name: name,
                        price: price,
                        image: image,
                        count: parseInt(quantityInput.val()) + countUp
                    }, function (data) { }).fail(function () { });
                    quantityInput.val(parseInt(quantityInput.val()) + countUp);
                    
                } else {
                    var pro = `<div class="card m-1">
                    <div class="d-flex mt-1 " style="height:120px">
                        <div class="col-5" >
                            <img src="`+ image + `" class=" product-image " style="width: 100%; height: 100%; object-fit: contain;"   alt="...">
                        </div>
                        <div class="col-5 ">
                            <div class="text-start ">
                                <h5 class="product-name">
                                `+ name + `
                                </h5>
                            </div>
                            <div class="text-start m-1">
                                    <span class="product-id">`+id+`</span>
                                </div>
                            <div class=" text-start">
                                    <button class="btn btn-primary" id="minus">-</button>
                                    <input type="text" class="count text-center" style="width:35px;height:35px" value="`+countUp+`" disabled>
                                    </input>
                                    <button class="btn btn-primary" id="plus">+</button>
                                </div>
                        </div>
                        <div class="col-2">
                            <div class="pt-1 close">X</div>
                            <div class="product-price pt-5 fw-bolder">`+ price + ` vnd</div>
                        </div>
                    </div> </div>
                    `;
                    $.post('/addToCart', {
                        id: id,
                        name: name,
                        price: price,
                        image: image,
                        count: countUp
                    }, function (data) {
                    }).fail(function () {
                    });
                    $('.cart-body').append(pro);
                }
                await calc();
                updateCartNotification();
                var toast = `
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">Đã thêm vào giỏ hàng thành công</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" >
                            <img src="`+ image + `" class="rounded me-2"  style="width: 30%; height: 30%; object-fit: contain;" alt="...">
                            `+ name + `
                        </div>
                    </div>
                </div>
                `
                $('.toast-addToCart').append(toast);
                var toast1 = $('.toast').last();
                var toast = new bootstrap.Toast(toast1);
                toast.show();
            }
        }
        function calc() {
            let total = 0;
            var price = 0;
            var count = 0;
            $('.cart-body .product-price').each(function () {
                price = parseInt($(this).text());
                count = $(this).parent().parent().find('.count').val();
                total += price * count;
            });
            $('.calc').html(`Tổng tiền: ` + total + ` vnd`);
        }
        $('.cart-icon').click(function () {
            var cart = $('.cart');
            calc();
            updateCartNotification();
            if (cart.css('right') == '-550px') {
                $('.cart').animate({ right: '0px' }, 500);

            } else {
                $('.cart').animate({ right: '-550px' }, 500);
            }
        });
        $('.cart-body').on('click', '.close', function () {
            const name = $(this).parent().parent().find('.product-name').text();
            $.post('/remove', {
                name: name,
            }, function (data) { }).fail(function () { });
            $(this).closest('.card').remove();
            calc();
            updateCartNotification();
        });
        function updateCartNotification() {
            var totalItems = 0;
            $('.cart-body .count').each(function () {
                totalItems += parseInt($(this).val());
            });
            if (totalItems > 0) {
                $('.cart-notify-badge').show();
                $('.cart-notify-badge').text(totalItems);
            }
            else 
                $('.cart-notify-badge').hide();

        };
        $('.cart-body').on('click', '#plus', function () {
            var quantityInput = $(this).closest('.d-flex').find('.count');
            var currentQuantity = parseInt(quantityInput.val());
            quantityInput.val(currentQuantity + 1);
            const name = $(this).parent().parent().find('.product-name').text();
            $.post('/plus', {
                name: name,
            }, function (data) { }).fail(function () { });
            calc();
            updateCartNotification();
        });
        $('.cart-body').on('click', '#minus', function () {
            var quantityInput = $(this).closest('.d-flex').find('.count');
            var currentQuantity = parseInt(quantityInput.val());
            if (currentQuantity == 1) {
                $(this).closest('.card').remove();
            }
            else {
                quantityInput.val(currentQuantity - 1);
            }
            const name = $(this).parent().parent().find('.product-name').text();
            $.post('/minus', {
                name: name,
            }, function (data) { }).fail(function () { });
            calc();
            updateCartNotification();
        });

    });


</script>


<script>
    $(document).ready(function () {
        $('#formFile').change(function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result);
                $('#imagePreview').show();
            };
            reader.readAsDataURL(this.files[0]);
        });
    });
</script>

</html>