<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Spectral' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b7cad2323d.js" crossorigin="anonymous"></script>
    <title>Giới thiệu</title>

    <style>
        body {
            color: #252a2b;
            line-height: 1.45;
            font-size: 14px;
            max-width: 100% !important;
            background: #ffffff;
            font-family: "Spectral", sans-serif;
            overflow-x: hidden;
            position: initial;
        }

        a {
            color: #252a2b;
            text-decoration: none;
            outline: none;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .container {
            max-width: 100% !important;
        }

        .topbar {
            text-align: center;
            font-weight: 500;
            font-size: 13px;
            padding: 8px 0;
            position: relative;
            display: block;
            overflow: hidden;
            background: #ffffff;
            color: #000000;
            border-bottom: 1px solid #dfe2e6;
        }

        .topbar-text {
            color: black;
        }

        .topbar-bottom {
            background: #193d87;
            color: #ffffff;
            font-size: 13px;
        }

        .topbar-bottom .box-content {
            padding: 6px 0;
        }

        .topbar-bottom .hotline a {
            font-weight: 700;
            color: #ffffff;
        }

        .topbar-bottom .contact a {
            font-weight: 700;
            color: #ffffff;
        }

        .navbar {
            background: #ffffff;
            color: #000000;
            font-size: 13px;
        }

        .navbar .box-content {
            padding: 6px 0;
        }

        .home {
            width: 200px;
        }

        .nav-box {
            width: 800px;
        }

        .util {
            width: 200px;
        }

        .intro-banner {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://theme.hstatic.net/200000680615/1001104472/14/about01_banner_bkg.jpg");
            height: 300px;
        }

        .banner-headtext {
            font-size: 30px;
            font-weight: 600;
            color: white;
        }

        .banner-text {
            font-weight: 600;
            color: white;
        }

        .content-text-title-f {
            letter-spacing: 5px;
        }

        .text-column {
            width: 450px;
        }

        .content-image {
            width: 45%;
            height: 45%;
        }

        .icon-item {
            width: 210px;
        }

        .subscription-container {
            background-color: #1c4290;
            height: 80px;
        }

        .subscription-input {
            width: 300px;
        }

        .subscription-input-container {
            height: 40px;
        }

        .subscription-title {
            padding: 0;
            margin: 0;
            position: relative;
            font-size: 15px;
            font-weight: 700;
            color: white;
            line-height: 1.2;
        }

        .subscription-input {
            margin-top: 20px;
        }

        .subscription-button {
            font-weight: 700;
            white-space: nowrap;
            height: 35px;
            border-radius: 20px;
            position: relative;
            display: inline-block;
            z-index: 1;
            overflow: hidden;
            line-height: normal;
            color: #fff;
            border: 0;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            outline: none !important;
            transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            background: #161718;
            font-size: small;
        }

        .social-icon {
            width: 32px;
            height: 32px;
            line-height: 30px;
            font-size: 14px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            display: block;
            text-align: center;
            border-radius: 50%;
            transition: 0.4s;
            text-decoration: none;
            outline: none;
        }

        .social-ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            padding-left: 0 !important;
        }

        .address-ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
            padding-left: 0 !important;
        }

        .social-li {
            margin-right: 5px;
        }

        .footer-container {
            background: #193d87;
            position: relative;
            font-size: 16px;
            color: white;
            margin: 0;
            font-weight: 500;
        }

        .footer-link {
            color: #ffffff;
        }

        .footer-end {
            background: #1c4290;
        }
    </style>
</head>

<body>
    <div class="container w-100">
        <div class="intro-content w-100">
            <div class="intro-banner w-100 d-flex flex-column justify-content-center ps-5">
                <div class="fs-2 banner-headtext">
                    Giới thiệu
                </div>
                <div>
                    <a class="banner-text" href="/">Trang chủ</a> / <a class="banner-text">Giới thiệu</a>
                </div>
            </div>
        </div>
        <div class="content d-flex flex-column flex-wrap text-center mt-5">
            <span class="content-text-title-f text-uppercase fs-6">Về chúng tôi</span>
            <span class="content-text-title-s text-uppercase fw-bold fs-4 mt-2">Thương hiệu luxe mode</span>
            <div class="text-container d-flex flex-row flex-wrap justify-content-around text-start mt-5 ms-5 me-5">
                <span class="text-column">
                    Chúng tôi luôn nỗ lực tạo dựng mối quan hệ hợp tác tốt đẹp với các đối tác
                    trên cơ sở mang lại lợi ích song phương, không ngừng phát triển hoạt động kinh doanh của mình, mang
                    đến cho khách hàng sản phẩm và dịch vụ với chất lượng tốt nhất. Chúng tôi luôn chào đón tất cả các
                    đối tác cùng chia sẻ tầm nhìn và khát khao thành công.
                </span>
                <span class="text-column">
                    Chúng tôi tự tin là đối tác tin cậy mang lại sự thịnh vượng cho doanh nghiệp của bạn
                    <br> <br>
                    Với hệ thống phân phối trải dài từ Bắc vào Nam, sự đa dạng về chủng loại, độc đáo về kiểu dáng, dẫn
                    đầu về xu hướng, nhiều sự lựa chọn về mức giá đã đang và sẽ chiếm được sự tin tưởng và yêu mến của
                    khách hàng trên toàn quốc.
                </span>
            </div>
            <div class="text-container d-flex flex-row justify-content-around text-start mt-5"
                style="margin-left: 100px;">
                <img class="content-image"
                    src="https://theme.hstatic.net/200000680615/1001104472/14/about01_introduce1_img.jpg?v=306" alt="">
                <div class="d-flex flex-column flex-wrap align-items-center text-center mt-4">
                    <span class="content-text-title-f text-uppercase fs-6">Thông điệp từ chúng tôi</span>
                    <span class="content-text-title-s text-uppercase fw-bold fs-4 mt-2">Câu chuyện thương hiệu</span>
                    <span class="w-75 text-start mt-5">
                        Chúng tôi đã dành nhiều thập kỷ để xây dựng một thương hiệu mạnh mẽ, không chỉ qua chất lượng
                        sản phẩm và dịch vụ, mà còn qua sự tận tâm và trách nhiệm đối với khách hàng. Thương hiệu của
                        chúng tôi không chỉ là biểu tượng của sự tin cậy, mà còn là biểu tượng của sự đổi mới và tiến
                        bộ.
                    </span>
                </div>
            </div>
            <div class="text-container d-flex flex-row justify-content-around text-start mt-5">
                <div class="d-flex flex-column flex-wrap align-items-center text-center mt-4">
                    <span class="content-text-title-f text-uppercase fs-6">Thông điệp từ chúng tôi</span>
                    <span class="content-text-title-s text-uppercase fw-bold fs-4 mt-2">Câu chuyện thương hiệu</span>
                    <span class="w-75 text-start mt-5">
                        Niềm tin là nền tảng của mọi mối quan hệ, và chúng tôi luôn coi trọng việc xây dựng và duy trì
                        niềm tin này với khách hàng và đối tác. Chúng tôi luôn tuân thủ nguyên tắc minh bạch, công bằng
                        và tôn trọng trong mọi hoạt động kinh doanh, nhằm xây dựng niềm tin vững chắc trong lòng khách
                        hàng và đối tác. Chúng tôi tin rằng, chỉ khi có niềm tin, chúng tôi mới có thể cùng khách hàng
                        và đối tác tiến xa hơn nữa trên con đường hướng tới thành công.
                    </span>
                </div>
                <img class="content-image"
                    src="https://theme.hstatic.net/200000680615/1001104472/14/about01_introduce2_img.jpg?v=306" alt="">
            </div>
            <div class="icon-container d-flex flex-row justify-content-around mt-5">
                <div class="icon-item d-flex flex-column flex-wrap align-items-center text-center">
                    <img class="mb-4"
                        src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_1_ico.png?v=306"
                        class=" lazyloaded"
                        data-src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_1_ico.png?v=306"
                        alt="TRẢ GÓP 0% LÃI SUẤT">
                    <span class="text-uppercase fs-6">Trả góp 0% lãi suất</span>
                    <span class="content-text-title-s mt-1" style="font-size: small;">Áp dụng dễ dàng qua thẻ tín dụng
                        của hơn 20 ngân hàng</span>
                </div>
                <div class="icon-item d-flex flex-column flex-wrap align-items-center text-center">
                    <img class="mb-4"
                        src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_2_ico.png?v=306"
                        class=" lazyloaded"
                        data-src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_2_ico.png?v=306"
                        alt="GIAO HÀNG 3H">
                    <span class="text-uppercase fs-6">Giao hàng 3H</span>
                    <span class="content-text-title-s mt-1" style="font-size: small;">Sở hữu ngay món trang sức yêu
                        thích chỉ trong vòng 3 giờ</span>
                </div>
                <div class="icon-item d-flex flex-column flex-wrap align-items-center text-center">
                    <img class="mb-4"
                        src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_3_ico.png?v=306"
                        class=" lazyloaded"
                        data-src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_3_ico.png?v=306"
                        alt="NGƯỜI BẠN VÀNG">
                    <span class="text-uppercase fs-6">Người bạn vàng</span>
                    <span class="content-text-title-s mt-1" style="font-size: small;">Giải pháp tài chính cầm đồ; thu
                        mua kim cương, túi hiệu và đồng hồ cơ</span>
                </div>
                <div class="icon-item d-flex flex-column flex-wrap align-items-center text-center">
                    <img class="mb-4"
                        src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_4_ico.png?v=306"
                        class=" lazyloaded"
                        data-src="//theme.hstatic.net/200000680615/1001104472/14/about01_services_4_ico.png?v=306"
                        alt="ƯU ĐÃI ĐẾN 2 TRIỆU">
                    <span class="text-uppercase fs-6">Ưu đãi đến 2 triệu</span>
                    <span class="content-text-title-s mt-1" style="font-size: small;">Đặt online - nhận ưu đãi tại
                        showroom</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>