<style>

</style>
    <div class="container-fluid" style="font-family:'Newsreader', serif;">
        {{#each cart}}
            <img src="{{this.image}}" alt="">
            <h3>{{this.name}} - {{this.price}}</h3>
            <p>Số lượng: {{this.count}}</p>
        {{/each}}
        <p>Tổng tiền: </p>
        <button id="btn_checkout" class="btn btn-outline-primary" type="button">Thanh toán với hệ thống thanh toán</button>
    </div>

    <script>
        function paymentWithSystem() {
            fetch('/book/import', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json, text/plain, */*',
            },
            body: JSON.stringify({"data": dataArray, "date": date})
            }).then(response => response.json())
            .then(data => {
                // console.log('Server response:', data);
                if (data.msg === 1) {
                    alert('Nhập thành công!');
                    window.location.href='/book/import';
                } else {
                    alert('Nhập không thành công!');
                    window.location.href='/book/import';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
  