<!DOCTYPE html
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }

        .fail-icon {
            font-size: 48px;
            color: #ef0e1a;
            margin-bottom: 20px;
        }

        .message {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .button {
            display: inline-block;
            background-color: #3498db;
            color: white;
            padding: 10px 30px;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }

        .button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
        <i class="fail-icon fa fa-x"></i>
        <div class="message">
            Thanh toán không thành công! 
        </div>
        <div class="message" style="color: red; font-weight:bold;">
            {{#ifCond id 0}}
                Số dư không đủ thực hiện thanh toán!
            {{/ifCond}}
            {{#ifCond id 1}}
                Lỗi xác thực người dùng!
            {{/ifCond}}
        </div>
        {{#ifCond id 1}}
            <a class="button" href="https://localhost:5000/login" target="_blank">Đăng nhập trên hệ thống thanh toán!</a>
        {{/ifCond}}
        {{#ifCond id 2}}
            <a class="button" href="https://localhost:5000/login" target="_blank">Đăng nhập lại trên hệ thống thanh toán!</a>
        {{/ifCond}}
        <a class="button" href="/">Quay lại trang chủ</a>
</body>
</html>