<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Newsreader:wght@400;600&display=swap" />

    <title>Document</title>
</head>

<body>
    <div class="container-fluid text-center" style="font-family:'Newsreader', serif;">
        <div id="carouselExample" class="carousel slide" style="height:650px">
            <div class="carousel-inner h-100">
                <div class="carousel-item active">
                    <img src="https://theme.hstatic.net/200000680615/1001104472/14/slide_2_img.jpg?v=306"
                        class="d-block " alt="..." style="object-fit: contain;">
                </div>
                <div class="carousel-item">
                    <img src="https://theme.hstatic.net/200000680615/1001104472/14/slide_1_img.jpg?v=306"
                        class="d-block " alt="..." style="object-fit: contain;">
                </div>
                <div class="carousel-item">
                    <img src="https://theme.hstatic.net/200000680615/1001104472/14/slide_3_img.jpg?v=306"
                        class="d-block " alt="..." style="object-fit: contain;">
                </div>

            </div>



            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row pt-5 text-center">
            <div class="col-5 mx-auto">
                <img src="https://theme.hstatic.net/200000259495/1000932590/14/bannerImg_2.png?v=26" class="d-block "
                    alt="..." style="object-fit: contain;">
                <h1>Thời trang nam</h1>
                <span>Cùng với sự phát triển không ngừng của thời trang thế giới, rất nhiều thương hiệu cho ra
                    đời những mẫu thời trang nam chính hãng đa dạng về phong cách, kiểu dáng, màu sắc, kích cỡ…</span>
            </div>
            <div class="col-5 mx-auto">
                <img src="https://theme.hstatic.net/200000259495/1000932590/14/bannerImg_3.png?v=26" class="d-block "
                    alt="..." style="object-fit: contain;">
                <h1>Thời trang nữ</h1>
                <span>Ngày nay, thế giới trang sức nam, nữ chính hãng rất đẹp, đa dạng với nhiều kiểu dáng,
                    chất liệu khác nhau (vàng, bạc, đính đá), từ vòng tay, hoa tai, dây chuyền cho đến cả nhẫn.</span>
            </div>
        </div>
        <div class="row text-center pt-5">
            <h1>Danh mục sản phẩm</h1>
            <div class="container-fluid" style="font-family:'Newsreader', serif;">
                <div id="carouselExample1" class="carousel slide" style="height:300px">
                    <div class="carousel-inner h-100">
                        <div class="carousel-item active d-flex text-center">
                            <div class="col-4">
                                <img src="https://thuvienmuasam.com/uploads/default/original/2X/9/9059ab3fc5d81972fd9c61055ac2fa49016362c6.jpeg"
                                    class="d-block w-100 p-1" alt="..." style="object-fit: contain;">
                            </div>
                            <div class="col-4">
                                <img src="https://bizweb.dktcdn.net/100/175/988/articles/dsc01531.jpg?v=1604558437977"
                                    class="d-block w-100 p-1" alt="..." style="object-fit: contain;">
                            </div>
                            <div class="col-4">
                                <img src="https://theme.hstatic.net/200000259495/1000932590/14/indexColImg_2.png?v=26"
                                    class="d-block w-100 p-1" alt="..." style="object-fit: contain;">
                            </div>
                        </div>
                        <div class="carousel-item text-center ">
                            <div class="col-4 float-start">
                                <img src="https://product.hstatic.net/200000259495/product/1e20cycy_noir_3_759eb21ae0514f0b99459b5bfcfaf319_grande.jpg"
                                    class="p-1 w-100" alt="..." style="object-fit: contain;">
                            </div>
                            <div class="col-4 float-start">
                                <img src="https://product.hstatic.net/200000592359/product/ben-sherman-ss-gingham-shirt-1_9a9aeecc4bc74ec7af907e15f332d9e1_master.jpg"
                                    class=" p-1 w-100" alt="..." style="object-fit: contain;">
                            </div>
                            <div class="col-4 float-start">
                                <img src="https://product.hstatic.net/200000592359/product/am-2_bdbfaa6332744939a95ae473eec398ba_05b1d97767f94ff894c7aaa879a45be9_690529155fe845ad862222b8178dda68_master.jpg"
                                    class="  p-1 w-100" alt="..." style="object-fit: contain;">
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="row text-center pt-5">
                <h1>
                    Sản phẩm mới ra mắt
                </h1>
            </div>
            <div class="row p-5">
                <div class="col-3">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row pt-5 ">
                <div class="col-6">
                    <img src="https://theme.hstatic.net/200000680615/1001104472/14/img_banner_bottom_desktop_1.jpg?v=306"
                        alt="..." class="w-100">
                </div>
                <div class="col-6 pt-5">
                    <h1 class="pt-5">Outfit tuyệt đẹp không nên bỏ qua</h1>
                    <span>
                        Đừng quá bó buộc những chiếc áo phông chỉ được phối với giày thể thao những đôi boot nam cũng là
                        lựa
                        chọn không tồi cho cách phối đồ với boots nam mà chàng cần chú ý.
                    </span>
                </div>
                <div class="col-6 pt-5">
                    <h1 class="pt-5">Áo phông cho sự năng động</h1>
                    <span>
                        Nếu đang không biết phối đồ với boot nam thế nào thì những chiếc áo sơ mi chính là gợi ý mà các
                        bạn không nên bỏ qua với những anh chàng yêu thích sự thanh lịch. Bộ đôi hoàn hảo khi kết hợp
                        cùng
                        giày boots sẽ giúp các chàng tăng lên được sự năng động.

                    </span>
                </div>
                <div class="col-6">
                    <img src="https://theme.hstatic.net/200000680615/1001104472/14/img_banner_bottom_desktop_2.jpg?v=306"
                        alt="..." class="w-100">
                </div>

            </div>




            <div class="row text-center pt-5">
                <h1>
                    Sản phẩm nổi bật
                </h1>
            </div>
            <div class="row p-5">
                <div class="col-3">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3 pt-5">
                    <div class="card m-1">
                        <img src="https://onoff.vn/media/catalog/product/cache/ecd9e5267dd6c36af89d5c309a4716fc/18TS22S137.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                                Áo thun cho nam
                            </p>
                            <div class="row d-flex">
                                <span>100.000</span>
                                <span>THÊM VÀO GIỎ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row text-center bg-body-secondary">
                <h2 class="fw-bold pt-5">HCMUS'fashion</h2>
                <p>Mỗi một người phụ nữ đều mang trong mình nét đẹp riêng & xứng đáng được ngưỡng mộ, được tôn vinh
                    và
                    được tự tin với chính con người
                    mình. Phụ nữ luôn xứng đáng với những điều trọn vẹn nhất cho cuộc sống của mình: Hạnh phúc trọn
                    vẹn
                    , vẻ đẹp trọn vẹn và còn nhiều hơn thế. The Swan hơn cả một thương hiệu trang sức,
                    mà còn là đại diện cho một phong cách sống của những giá trị hoàn mỹ xứng đáng nhất dành cho phụ
                    nữ.
                </p>
                <p class="pb-5">"TRANG SỨC The Swan – CHO PHỤ NỮ LUÔN TRỌN VẸN"</p>
            </div>
            <div class="row d-flex w-100"
                style=" background-attachment: fixed;background-image: url('https://mcdn.coolmate.me/uploads/December2021/phong-cach_-thoi-trang-co-dien-111_20.jpg');height:500px;background-size:cover">
            </div>
            <div class="row pt-5" style="height:300px">
                <div class="col-3 pt-5">
                    <h4>Hỗ trợ 24/7</h4>
                    <span>
                    Hotline hỗ trợ: 1900 2112
                    </span>
                </div>
                <div class="col-3  pt-5">
                    <h4>Giao hàng miễn phí</h4>
                    <span>
                        Giao hàng nhanh chóng, trong 3-5 ngày làm việc
                    </span>
                </div>
                <div class="col-3 pt-5">
                    <h4>Thanh toán đa dạng</h4>
                    <span>
                       Chấp nhận thanh toán COD, ngân hàng, Momo
                    </span>
                </div>
                <div class="col-3 pt-5">
                    <h4>Đổi trả hàng dễ dàng</h4>
                    <span>
                        Thời gian trả hàng lên đến 30 ngày
                    </span>
                </div>
            </div>
        </div>
</body>

</html>