<a href="/">Back</a>
<a href="/category/edit" style="margin-left: 10px;" class="btn btn-warning">Chỉnh sửa danh mục</a>
<div class="d-flex">
 
    {{#each categories}}
  <h2>{{catName}}</h2>
  <ul>
    {{#each items}}
      <li>{{itemName}}</li>
    {{/each}}
  </ul>
{{/each}}
</div>
<script>    
    function handleOptionSelect(selectElement) {    
        var selectedOption = selectElement.value;
        fetch('/home?CatID=' + selectedOption)
            .then(response => {
                if (response.ok) {
                    window.location.href = response.url;
                } else {
                    console.error('Error:', response.status);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
